body{
	background: #c4c4c4;

	
}
.project .logo+.name {
    font-size: 15px;
}
.faq{
	font-size: 1.17em;
}
.version {
	font-size: 13px;
    color: #666;
}
.article table th {
    font-size: 14px;
}

td{
	text-align: center;
}

.bannerkind{
	text-decoration: underline;
}
.error{
	background: #ef5350;
	color: #fff;
}
/*.project .logo img {
    background: transparent;
}

.header , .footer{
	background: #009688;
}

.drawer .toc a.current, .drawer .toc a:focus, .drawer .toc a:hover {
	color: #e84e40;
}

.drawer .anchor a{
	border-left: 2px solid #e84e40;
}

.article h1, .article h2{
	color: #e84e40;
}

@media only screen and (max-width: 959px){
.project {
	background-color: #009688;
    color: #fff;
}

.project .logo img {
    background: #fff;
}

}*/